.SideBarcontainer {
  display: flex;
  margin-top: 60px;
  overflow: scroll;
  /* border: 1px solid red; */
  width:100%;
  padding-bottom: 0px;
}
main {
  /* width: 50%; */
  /* padding: 10px; */
}
.sidebar {
  /* background: #000; */
  /* color: #fff; */
  color: black;
  height: 120vh;
  width: 250px;
  transition: all 0.5s;
  }
.SideBarcontainer::-webkit-scrollbar {
  display: none;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 15px;
  margin-left: 50px;
}
.link {
  display: flex;
  /* color: #fff; */
  color: black;
  padding:10px 15px;
  gap: 15px;
  text-decoration: none;
  transition: all 0.5s;
}

.link:hover {
  background: rgb(244, 243, 244);

  color: #000;
  transition: all 0.5s;
}
.active {

  background: rgb(244, 243, 244);
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
  text-decoration: none;
}



/* .................. feedback & suggestions  css...................... */
.feedbackContainer{
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 24; 
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 768px) {
 .feedbackContainer{
    position:absolute;
  top: 20%;
  width: 95%;
}
} 

textarea {
    resize: vertical;
    width: 100%;
    border: 1px solid rgb(193, 124, 124); 
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}


textarea:focus{
    outline: 0;
}

.feedBackBtn{
width: 100%;
margin: 20px 0 10px 0;
}